@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dancing_text {
  font-family: "Dancing Script", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;

}


.text-tubeLight-effect {
  display: flex;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  overflow-y: hidden;
  /* -webkit-box-reflect: below -27px linear-gradient(transparent, #ffffff40); */
  animation: animate 5s linear infinite;
}
.text-tubeLight-effect-two {
  display: flex;
  color: green;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  overflow-y: hidden;
  /* -webkit-box-reflect: below -27px linear-gradient(transparent, #ffffff40); */
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: gray;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90.1%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 1px rgb(150, 150, 150), 0 0 2px rgb(150, 150, 150),
      0 0 2px rgb(150, 150, 150), 0 0 5px rgb(150, 150, 150),
      0 0 20px rgb(150, 150, 150);
  }
}

.track {
  border: 1px solid red;
}
.letter-spaced {
  letter-spacing: 0.1em; /* Adjust the value as needed */
}